* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  outline: none;
  color: black;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

:root {
  --base: #34495e;
  --principal: #41b883;
  --white: #fff;
}

/*Header*/

header {
  width: 100%;
  background-color: var(--base);
  padding: 1.6rem 9rem 1.6rem 9rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo a {
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  transition: 0.5s ease;
  color: var(--white);
  letter-spacing: 0.3rem;
  display: flex;
  align-items: center;
}

#logo a:hover {
  color: var(--principal);
}

#logo img {
  width: 2.8rem;
}

#myGit i {
  font-size: 3rem;
  color: white;
  transition: 0.5s ease;
}

#myGit i:hover {
  color: var(--principal);
}
/*Header*/

/*searchbox*/

#search-box {
  width: 100%;
  height: 40rem;
  background-color: var(--principal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-box h1 {
  font-size: 7rem;
}

#input-box {
  margin-top: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 70rem;
  min-width: 30rem;
}

#input-box i {
  position: absolute;
  right: 3rem;
  font-size: 1.6rem;
  transition: 0.5s ease;
}

input {
  width: 100%;
  height: 6rem;
  padding-left: 2rem;
  border: 1px solid var(--base);
  border-radius: 5px;
  transition: 0.5s ease;
}

input:focus {
  border: 1px solid var(--principal);
}

input:focus + .fa {
  color: var(--principal);
}

input:hover {
  border: 1px solid var(--principal);
}

input:hover + .fa {
  color: var(--principal);
}
/*searchbox*/
/*main*/
main {
  width: 70%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-column-gap: 10rem;
  grid-row-gap: 10rem;
  margin-top: 5rem;
}

.content-box {
  display: flex;
  width: 45rem;
  margin-bottom: 2rem;
}

.img-content {
  margin-right: 1.6rem;
}

.img-content img {
  max-width: 100%;
  max-height: 100%;
}

.side-content-info {
  flex: 1;
}

.side-content-info h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.side-content-info p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.side-content-info a {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--base);
  transition: 0.5s ease;
}

.side-content-info a:hover {
  color: var(--principal);
}

/*footer*/

footer {
  background-color: var(--base);
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 5rem 8rem 10rem;
  position: relative;
  height: 100%;
}

.footer-info {
  width: 30rem;
}

.footer-info h1 {
  font-size: 3rem;
  color: var(--white);
}

.footer-info h2 {
  margin-top: 4rem;
  color: var(--white);
}

.footer-info p {
  font-size: 1.6rem;
  color: var(--white);
}

.footer-info ul {
  margin-top: 1rem;
}

.footer-info li {
  font-size: 2rem;
  color: var(--white);
}

#absolute-footer {
  margin-top: 16rem;
  margin-right: 20rem;
  z-index: 99;
}

#absolute-footer p {
  color: var(--white);
  font-size: 1.6rem;
}

#logo-footer {
  width: 3rem;
}

#logo-footer img {
  max-width: 100%;
}
