* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  outline: none;
  color: black;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

:root {
  --base: #34495e;
  --principal: #41b883;
  --white: #fff;
}

/*Header*/

header {
  width: 100%;
  background-color: var(--base);
  padding: 1.6rem 9rem 1.6rem 9rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo a {
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  transition: 0.5s ease;
  color: var(--white);
  letter-spacing: 0.3rem;
  display: flex;
  align-items: center;
}

#logo a:hover {
  color: var(--principal);
}

#logo img {
  width: 2.8rem;
}

#myGit i {
  font-size: 3rem;
  color: white;
  transition: 0.5s ease;
}

#myGit i:hover {
  color: var(--principal);
}
/*Header*/

/*searchbox*/

#search-box {
  width: 100%;
  height: 40rem;
  background-color: var(--principal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-box h1 {
  font-size: 6rem;
}

#input-box {
  margin-top: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 70rem;
  min-width: 30rem;
}

#input-box i {
  position: absolute;
  right: 3rem;
  font-size: 1.6rem;
  transition: 0.5s ease;
}

input {
  width: 100%;
  height: 6rem;
  padding-left: 2rem;
  border: 1px solid var(--base);
  border-radius: 5px;
  transition: 0.5s ease;
}

input:focus {
  border: 1px solid var(--principal);
}

input:focus + .fa {
  color: var(--principal);
}

input:hover {
  border: 1px solid var(--principal);
}

input:hover + .fa {
  color: var(--principal);
}
/*searchbox*/
/*main*/
main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 5rem;
  gap: 3rem;
}

.content-box {
  display: flex;
  width: 40%;
  margin-bottom: 2rem;
}

.img-content {

  margin-right: 1.6rem;
}

.img-content img {
 width: 120px;
}

.side-content-info {
  flex: 1;
}

.side-content-info h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.side-content-info p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.side-content-info a {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--base);
  transition: 0.5s ease;
}

.side-content-info a:hover {
  color: var(--principal);
}

/*footer*/

footer {
  background-color: var(--base);
  padding: 3rem 5rem 0rem 10rem;
  width: 100%;
}

#inner-footer {
  margin: 0px auto;
  width: 90%;
  max-width: 1200px;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.footer-column {
  display: flex;
  flex-direction: column;
  width: 15rem;
}
.footer-column a {
  font-size: 1.8rem;
  transition: .5s ease;
  cursor: pointer;
}

.footer-column a:hover{
  color: var(--principal);
}

.footer-column strong {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.footer-title {
  font-size: 2.5rem;
}

#copyright {
  align-self: flex-end;
  margin-top: 11rem;
}

#copyright p{
  font-size: 1.6rem;
}

#copyright img{
  width: 3rem;
}

/*Media queries*/


@media(min-width: 1200px){
  html{
    font-size: 70%;
  }
}

@media(max-width: 1096px){
  #copyright {
    margin-top: 0rem; 
   }
}

@media (max-width: 900px){
  main{
    flex-direction: column;
  }

  #search-box h1 {
    font-size: 4rem;
  }

  .content-box{
    width: 100%;
  }

  #input-box{
    width: 80%;
  }
}

@media (max-width: 664px){

  #search-box h1 {
  text-align: center;
  }
  
}

@media(max-width: 490px){

  #input-box{
    width: 70%;
  }

  .content-box{ 
    flex-direction: column;
    text-align: center;
  }
}

/*Media queries*/